

a {
  color: magenta !important;
}

* {
  color: white;
}

h2 {
  color: white !important;
}

img {
  display: none !important;
}

#adnz_skyscraper_1,
#adnz_maxiboard_1 {
  display: none !important;
}

