
p:hover,
span:hover,
h1:hover,
h2:hover,
h3:hover,
ul:hover,
li:hover,
#text:hover,
.thumbcaption:hover,
.theader:hover,
figcaption:hover
 {
    text-decoration: line-through !important;
    text-decoration-thickness: 7px !important;
}