.knot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px; /* Adjust as needed */
  right: 10px;  /* Adjust as needed */
  z-index: 9999;
}

.knot-container img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}
