* {
    font-size: 18pt;
    font-weight: normal;
    font-feature-settings: "kern" 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

body {
    background-color: yellow;
}

main {
    text-align: justify;
    text-align-last: center;
    width: 23em;
    font-size: 21pt;
    margin: 0 auto;
}


h1,
h2 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

p {
    margin: 0;
}