img, video {
    display: none !important;
}

img, video {
    filter: brightness(0%) !important;
}

* {
    background-color: rgb(228, 228, 228) !important;
    color: black !important;

    font-size: 16px !important;

    border: none !important;
    font-style: normal !important;
    box-shadow: none !important;
}


body {
    width: 30cm;
}

*:hover {
    box-shadow: none !important;
}

a {
    color: blue !important;
}