    p,
    li,
    ul,
    a,
    table,
    input,
    textarea {
      animation: turnTables 2s ease 0.5s 1 forwards;
    }


    h1,
    h2,
    h3,
    h4,
    div>a,
    li,
    ul,
    p {
      overflow: visible !important;
      transition: transform 2s ease 2s !important;
    }

    @keyframes turnTables {
      from {
        transform: rotate3d(0, 0, 1, 0deg);
      }

      to {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }