img,
video {
  filter: brightness(100%) blur(0px);
  animation: onAcid 1s ease 0.5s 1 forwards !important;
}

@keyframes onAcid {
  from {
    filter: brightness(100%) blur(0px); 
  }

  to {
    filter: brightness(100%) blur(20px); 
  }
}
