    /* p, li, ul {
    transform: rotate3d(0, 0, 1, 180deg);
  }
   */

    h1,
    h2,
    h3,
    h4,
    div>a,
    li,
    ul,
    p {
      overflow: visible !important;
      transition: transform 2s ease 2s !important;
    }

    h1,
    h2,
    h3,
    h4,
    div>a,
    li {
      animation: angleBaby 2s ease 0.5s 1 forwards;
    }

    @keyframes angleBaby {
      from {
        transform: rotate3d(0, 0, 1, 0deg);
      }

      to {
        transform: rotate3d(0, 0, 1, 60deg);
      }
    }